body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
}
body a {
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 75px;
}
header a {
  display: block;
  height: 75%;
}
header a #logo {
  height: 100%;
}
header nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .item-menu-mobile {
  display: none;
}
header nav img {
  height: 50%;
}
main video {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}
main #animation-accueil {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 75px;
  overflow: hidden;
}
main #animation-accueil .image-flottante {
  position: absolute;
}
main #animation-design-typographique {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main #animation-design-typographique #texte {
  position: relative;
  margin: 0 15%;
  overflow-x: scroll;
  height: 50px;
  width: 70%;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
main #animation-design-typographique #texte::-webkit-scrollbar {
  display: none;
}
main #animation-design-typographique #texte .element-texte {
  position: absolute;
  column-width: 200px;
  height: inherit;
}
footer {
  position: fixed;
  bottom: 0;
  width: 96%;
  height: 75px;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 600px) {
  .item-menu {
    display: none;
  }
  header nav {
    justify-content: flex-end;
  }
  header nav .item-menu-mobile {
    display: initial;
  }
}
