body {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
}
header a {
  display: block;
  height: 75%;
}
header a #logo {
  height: 100%;
}
header nav {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  height: 50%;
}
main video {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  color: white;
}
