header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
header #logo {
  height: 100%;
}
header nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  background-color: red;
}
