@hauteur-header: 50px;

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: @hauteur-header;

  a {
    display: block;
    height: 75%;

    #logo {
      height: 100%;
    }
  }

  nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 50%;
    }
  }
}

main {
  video {
    position: fixed;
    top: @hauteur-header;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  color: white;
}
